<template>
    <div 
		id="editor" 
		ref="main"
		:style="editorStyle"
	>
		<div class="position-square">
			<div>EDITOR</div>
			<div>
				<div @click="setEditorPosition(0, 0)">&nwarr;</div>
				<div @click="setEditorPosition(0, 1)">&nearr;</div>
			</div>
			<div>
				<div @click="setEditorPosition(1, 0)">&swarr;</div>
				<div @click="setEditorPosition(1, 1)">&searr;</div>
			</div>
			<div>
				<button @click.prevent="finish">Save Changes</button>
			</div>
		</div>
		<div class="select-element">
			<div>Selection:</div>
			<button class="selctor" @click.prevent="startSelect">Select</button>
		</div>
		<div class="actions" v-show="selectionResult">
			<div>Actions:</div>
			<button @click.prevent="hidePath">Hide</button>
			<br/>
			<button @click.prevent="removePath">Remove</button>
			<br/>
			<button @click.prevent="edit">Edit</button>
			<button @click.prevent="saveEdit" v-show="editing">Save</button>
			<br />
			<form @submit.prevent="annotate">
				<input v-model="annotation" style="width: 50px" />
				<button @click.prevent="annotate">Annotate</button>
			</form>
			
		</div>
		<div class="changelist">
			Changes:
			<button @click.prevent="undo" :disabled="changes.length === 0">Undo</button>
			<button @click.prevent="redo" :disabled="redoList.length === 0">Redo</button>
			<ol>
				<li v-for="(change) of changes" :key="JSON.stringify(change)">
					{{ change.label }}
				</li>
			</ol>
		</div>
    </div>
</template>

<script lang="ts">
/// browser: @types/browser
import { defineComponent } from "vue";
import * as Selection from '@/service/editor/selector';
import * as Changer from '@/service/editor/changer';
import * as ContentEditor from '@/service/editor/contenteditor';

type Data = {
	changes: Changer.Change[],
	redoList: Changer.Change[],
	editorPosition: {
		right: boolean,
		bottom: boolean
	},
	selecting: boolean,
	selectionResult: string,
	editing: boolean,
	annotation: string
}

export default defineComponent({
	name: "SnapshotEditor",
	components: {
	},
	data(): Data {
		return {
			editorPosition: {
				right: false,
				bottom: false
			},
			selecting: false,
			selectionResult: '',
			changes: [],
			redoList: [],
			editing: false,
			annotation: ''
		}
	},
	computed: {
		editorStyle() {
			const p = this['editorPosition'];
			return {
				[p.bottom ? 'bottom' : 'top']: 0,
				[p.right ? 'right' : 'left']: 0,
			};
		}
	},
	
	methods: {
		setEditorPosition(bottom, right) {
			this.editorPosition.right = !!right;
			this.editorPosition.bottom = !!bottom;
		},
		startSelect() {
			this.selectionResult = '';
			if (this.selecting) {
				this.selecting = false;
				Selection.stopSelect();
				return;
			}
			this.selecting = true;
			Selection.startSelect(this.endSelect.bind(this))
		},
		endSelect(path) {
			this.selecting = false;
			this.selectionResult = path;
			let annotation = Changer.getExistingAnnotation(path);
			this.annotation = annotation ? annotation : '';
		},
		hidePath() {
			let change = Changer.createHideElement(this.selectionResult);
			this.addChange(change);
		},
		removePath() {
			let change = Changer.createRemoveElement(this.selectionResult);
			this.addChange(change);
		},
		addChange(c) {
			Changer.runChange(c, false);
			this.changes.unshift(c);
			this.redoList = [];
			this.selectionResult = '';
		},
		undo() {
			let removed = this.changes.shift();
			if (typeof removed === 'undefined') return;
			Changer.runChange(removed, true);
			this.redoList.unshift(removed);
		},
		redo() {
			let removed = this.redoList.shift();
			if (typeof removed === 'undefined') return;
			Changer.runChange(removed, false);
			this.changes.unshift(removed);
		},
		edit() {
			if (this.editing) {
				this.editing = false;
				ContentEditor.stopEditing();
				return;
			}
			this.editing = true;
			ContentEditor.startEditing(this.selectionResult);
		},
		saveEdit() {
			if (!this.editing) return;
			this.editing = false;
			let result = ContentEditor.stopEditing();
			let change = Changer.createHtmlChange(this.selectionResult, result);
			this.addChange(change);
		},
		annotate() {
			if (!this.annotation) return;
			let change = Changer.createAnnotation(this.selectionResult, this.annotation);
			this.addChange(change);
			this.annotation = '';
		},
		finish() {
			let html = document.documentElement.outerHTML;
			let changes = this.changes;
			this.$emit('save', { html, changes });
		}
	}
});
</script>

<style lang="less">
#editor {
	font-family: 'Hack', monospace;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #0b141e;
	border: 1px solid red;
	padding: 0em;
	position: fixed;
	background: #eee;
	z-index: 9999;
	display: flex;
	flex-flow: row wrap;
	max-width: 400px;
	> div {
		border: 1px solid #ddd;
		margin-right: 3px;
	}
}
.position-square {
	> div {
		display: flex;
		flex-flow: row nowrap;
		> div {
			border: 1px solid #ccc;
			width: 25px;
			padding: 3px;
			cursor: pointer;
		}
	}
}
.changelist {
	max-width: 175px;
}
[data-annotation]::after {
	content: attr(data-annotation);
	position: absolute;
	bottom: -22px;
	right: 0;
	background: #000;
	color: #ff0;
	border-radius: 2px;
	padding: 0 3px;
	font-size: 12px;
}
</style>
