<template>
    <div>
		<div>{{error}}</div>
		<h2>Server Settings</h2>
		<table>
			<tbody>
				<tr>
					<th>
						Server-URL:
					</th>
					<td>
						<ui-textfield
							v-model="serverUrl"
							:required="true"
							input-type="url"
						/>
					</td>
					<td>
						<div>Status:
							<span v-if="serverStatus" class="success">Connected</span>
							<span v-else class="error">Not connected</span>
						</div>
					</td>
				</tr>
				<tr v-if="serverInfo.userMode === 'simple'">
					<th>
						User:
					</th>
					<td>
						<ui-textfield
					v-model="userId"
					:required="true"
				/>
					</td>
					<td>
						<div v-if="serverInfo.userWhitelist">Required, provided by server admin</div>
						<div v-else>Required, use anything</div>
						<p v-if="canFetch === true" class="success">It works!</p>
						<p v-else-if="canFetch === false" class="error">Invalid user!</p>
					</td>
				</tr>
				<tr v-else-if="serverInfo.userMode === 'oidc'">
					<td colspan="3">
						<p class="error">OIDC not yet implemented</p>
					</td>
				</tr>
				<tr v-else>
					<td colspan="3">
						<p>Single-user-mode detected</p>
					</td>
				</tr>
			</tbody>
		</table>
		<ui-button
			@click="save"
			raised
		>
			Save & Connect
		</ui-button>
    </div>
</template>

<script lang="ts">
/// browser: @types/browser
import { defineComponent } from "vue";
import { events } from '@/service/options/hub';

type ServerInfo = {
	userMode: string,
	userHeader: string,
	userWhitelist: boolean
}
type Data = {
	serverUrl: string,
	serverStatus: boolean,
	serverInfo: ServerInfo|object,
	userId: string,
	canFetch: boolean|null,
	error: string
}

export default defineComponent({
	name: "OptionsPage",
	components: {
	},

	data(): Data {
		return {
			serverUrl: 'http://localhost:3000/',
			serverStatus: false,
			serverInfo: {},
			userId: '',
			canFetch: null,
			error: ''
		}
	},

	watch: {
		userId() {
			this.canFetch = null;
		}
	},

	created() {
		this.init();
		window.addEventListener('error', err => this.error = err.message);
	},

	methods: {
		async init() {
			let res: any = await browser.storage.local.get([ 'serverUrl', 'serverStatus', 'serverInfo', 'userId' ]);
			let url = res.serverUrl;
			if (typeof url === 'string') {
				this.serverUrl = url;
			}
			this.serverStatus = !!res.serverStatus;
			this.serverInfo = res.serverInfo || {};
			if (res.userId) this.userId = res.userId;
		},
		async save() {
			await browser.storage.local.set({
				serverUrl: this.serverUrl,
				userId: this.userId
			});
			let res: any = await events.request('background', 'options.update', null);
			this.serverStatus = res.serverStatus;
			this.serverInfo = res.serverInfo || {};
			try {
				await events.request('background', 'stats.fetch', null);
				this.canFetch = true;
			} catch (e) {
				this.canFetch = false;
			}
		}
	}
});
</script>

<style lang="less">
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}
html, body {
	height: 100%;
	background: #aaa;
}
.max-width {
	width: 480px;
}
.mdc-text-field--filled {
	height: 36px;
}
.success {
	color: #0a0;
	font-weight: bold;
}
.error {
	color: #a00;
	font-weight: bold;
}
</style>
