<template>
    <div id="nav">
		<ui-snackbar
			v-model="openSnackbar"
			:timeout-ms="10000"
			:message="snackbarMessage"
			position="top"
			action-button-text="close"
		/>
		<ui-drawer  v-show="tabId === 0" id="Menu">
			<ui-drawer-header>
				<ui-drawer-title>
					MemeFox
				</ui-drawer-title>
			</ui-drawer-header>
			<ui-drawer-content>
				<ui-nav>
					<ui-nav-item 
						v-for="tab of tabs"
						:key="tab.id"
						@click="navigate(tab.id)" 
						:active="tabId === tab.id"
					>
						{{ tab.label }}
					</ui-nav-item>
					<ui-button
						:disabled="snapshotWorking"
						@click="makeSnapshot"
						type="outlined"
						style="margin: 1em;"
					>
						Create Snapshot
					</ui-button>
				</ui-nav>
			</ui-drawer-content>
		</ui-drawer>

		<main id="SidebarContent">
			<ui-button outline @click.prevent="navigate(0)" v-show="tabId > 0" type="outlined">Back</ui-button>
			<history-search v-show="tabId === 1" />
			<snapshot-search v-show="tabId === 3" />
			<log v-show="tabId === 5" />
			<stats v-show="tabId === 6" />
			<info-here v-show="tabId === 7 && activePageUrl" :pageUrl="activePageUrl" :tabId="windowTabId"
				@open-snapshot="tabId = 7" 
				@message="onMessage"
				ref="infoHere"
			/>
		</main>
    </div>
</template>

<script lang="ts">
/// browser: @types/browser
import { defineComponent } from "vue";
import HistorySearch from '@/components/history-search.vue';
import SnapshotSearch from '@/components/snapshot-search.vue';
import InfoHere from '@/components/info-here.vue';
import Log from '@/components/log.vue';
import Stats from '@/components/stats.vue';
import debounce from 'debounce';
import { events } from '../service/sidebar/hub';

export default defineComponent({
	name: "Sidebar",
	components: {
		HistorySearch,
		SnapshotSearch,
		InfoHere,
		Log,
		Stats
	},
	data() {
		let upd = debounce(() => {
			this.activePageUrl = this.pageUrl;
		}, 100);
		return {
			tabs: [
				{ id: 7, label: 'Info Here' },
				{ id: 1, label: 'Search your History' },
				{ id: 3, label: 'Find Snapshots' },
				{ id: 5, label: 'View the Log' },
				{ id: 6, label: 'View Database Statistics' },
			],
			menuOpen: true,
			tabId: 0,
			windowTabId: 0,
			activePageUrl: '',
			pageUrl: '',
			urlUpdate: upd,
			onActivateTab: () => this.update(),
			openSnackbar: false,
			snackbarMessage: '',
			snapshotWorking: false,
			onError: (err) => this.errorToMessage(err),
			onRejection: (evt) => this.rejectionToMessage(evt)
		}
	},
	async created() {
		browser.tabs.onActivated.addListener(this.onActivateTab);
		browser.tabs.onUpdated.addListener(this.onActivateTab);
		this.update();
		window.addEventListener('error', this.onError);
		window.addEventListener('unhandledrejection', this.onRejection)
	},

	beforeUnmount() {
		browser.tabs.onActivated.removeListener(this.onActivateTab);
		browser.tabs.onUpdated.removeListener(this.onActivateTab);
		window.removeEventListener('error', this.onError);
		window.removeEventListener('unhandledrejection', this.onRejection)
	},

	methods: {
		async update() {
			this.pageUrl = '';
			let windowInfo = await browser.windows.getCurrent({populate: true});
			let tabs = await browser.tabs.query({windowId: windowInfo.id, active: true})
			if (tabs.length === 0) return;
			this.pageUrl = ''+tabs[0].url;
			this.urlUpdate();
			this.windowTabId = tabs[0].id || 0;
			// console.log(tabs[0]);
		},
		navigate(tabId) {
			this.tabId = tabId;
			this.menuOpen = tabId === 0;
		},
		errorToMessage(err) {
			this.snackbarMessage = err.message;
			this.openSnackbar = true;
		},
		rejectionToMessage({ reason }) {
			this.snackbarMessage = reason;
			this.openSnackbar = true;
		},
		onMessage(msg) {
			this.snackbarMessage = msg;
			this.openSnackbar = true;
		},

		async makeSnapshot() {
			this.snapshotWorking = true;
			let res: any = await events.request('content-script', 'snapshot', { url: this.pageUrl }, 5000);
			console.log('snap info', res);
			let snap: any = await events.request('background', 'snapshot.create', {
				uri: res.url,
				mime: 'text/html',
				content: res.html,
				styleInsert: res.styleInsert,
				blobs: res.blobs
			}, 60000);
			snap.created = new Date(snap.created);
			this.onMessage('Snapshot complete');
			this.snapshotWorking = false;
			this.tabId = 7;
			let infoHere: any = this.$refs.infoHere;
			infoHere.init();
		},
	}
});
</script>

<style lang="less">
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #0b141e;
}
@media screen and (min-width: 300px) {
	#SidebarContent {
		margin: 8px;
	}
}
body {
	background-color: #4e6d8b;
}


#nav {
	.mdc-tab {
		min-width: auto;
		padding: 0 4px;
	}
}
#Menu {
	margin: 3em auto;
}
</style>
