<template>
	<div>
		<h2>History Search</h2>
		<ui-textfield
			v-model="query"
			@blur="search"
			style="width: 100%;"
		/>
		<ui-form-field>
			<ui-switch v-model="showAdvanced" />
			Advanced
		</ui-form-field>
		<div v-show="showAdvanced">
			<table>
				<tbody>
					<tr>
						<td>
							<ui-select
								style="width: 120px"
								v-model="dateField"
								:options="dateFieldOptions"
							/>
						</td>
						<td>
							<ui-select
								style="width: 75px"
								v-model="dateComparison"
								:options="dateComparisonOptions"
							/>
						</td>
						<td>
							<ui-datepicker v-model="dateValue" />
						</td>
					</tr>
				</tbody>
			</table>
			<ui-form-field>
				<ui-switch v-model="bookmarked" />
				Bookmarked
			</ui-form-field>
		</div>
		<ul v-show="results.length > 0" id="Results">
			<li
				v-for="res of results"
				:key="res.id"
			>
				<history-entry :entry="res" />
			</li>
		</ul>

		<ui-pagination
			v-model="page"
			:total="total"
			show-total
			:page-size="pageSize"
			mini
		/>
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { events } from '@/service/sidebar/hub';
import { Result } from '@/types/history';
import HistoryEntry from './history-entry.vue';

type Opt = {
	value: string,
	label: string
}
type Data = {
	query: string,
	results: Result[],
	page: number,
	total: number,
	pageSize: number,
	dateField: string,
	dateComparison: string,
	dateFieldOptions: Opt[],
	dateComparisonOptions: Opt[],
	dateValue: string,
	showAdvanced: boolean,
	bookmarked: boolean
}

export default defineComponent({
	name: 'HistorySearch',
	components: {
		HistoryEntry
	},
	data(): Data {
		return {
			query: '',
			results: [],
			page: 1,
			total: 0,
			pageSize: 5,
			showAdvanced: false,
			dateField: '',
			dateFieldOptions: [{ value: 'firstVisited', label: 'First Visited' }, { value: 'lastVisited', label: 'Last Visited' }],
			dateComparison: '>',
			dateComparisonOptions: [{ value: '>', label: '>' }, { value: '<', label: '<' }],
			dateValue: '',
			bookmarked: false
		}
	},
	watch: {
		page() {
			this.search();
		},
		dateValue() {
			this.search();
		},
		dateComparison() {
			this.search();
		},
		dateField() {
			this.search();
		},
		bookmarked() {
			this.search();
		}
	},
	methods: {
		async search() {
			const params = { 
				query: this.query,
				offset: (this.page-1)*this.pageSize,
				limit: this.pageSize,
				locale: 'en'	//@TODO make into select
			};
			if (this.dateValue && this.showAdvanced) {
				let suffix, time;
				if (this.dateComparison === '>') {
					suffix = 'After';
					time = ' 00:00:00';
				} else {
					suffix = 'Before';
					time = ' 23:59:59';
				}
				let field = this.dateField + suffix;
				params[field] = this.dateValue+time;
			}
			if (this.showAdvanced && this.bookmarked) {
				params['bookmarked'] = true;
			}
			let res:any = await events.request('background', 'history.search', params);
			this.results = res.entries;
			this.total = res.count;
		}
	}
});
</script>

<style scoped lang="less">
#Results {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		margin-top: 0.2em;
	}
}
</style>
