<template>
	<ui-card>
		<ui-card-text>
			<a :href="url">
				<h3 v-show="size > 0">{{title}}</h3>
				<span class="url">{{url}}</span>
			</a>
		</ui-card-text>
		<ui-card-text v-show="!!description && size > 2">
			{{description}}
		</ui-card-text>
		<ui-card-text class="footer" v-show="size > 1">
			Last: {{lastVisited}} / First: {{firstVisited}} / Visited &times; {{timesVisited}}
		</ui-card-text>
	</ui-card>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { Result } from '@/types/history';


export default defineComponent({
	name: 'HistorySearch',
	props: {
		entry: {
			type: Object as () => Result,
			required: true
		},
		size: {
			type: Number,
			default: 3
		}
	},
	computed: {
		title() {
			return this.entry.title ? this.entry.title : this.entry.url;
		},
		url() {
			return this.entry.url;
		},
		description() {
			return this.entry.description;
		},
		firstVisited() {
			if (!this.entry.firstVisited) return '';
			let d = new Date(this.entry.firstVisited);
			return d.toLocaleDateString();
		},
		lastVisited() {
			if (!this.entry.lastVisited) return '';
			let d = new Date(this.entry.lastVisited);
			return d.toLocaleDateString();
		},
		timesVisited() {
			return this.entry.timesVisited;
		}
	}
});
</script>
<style scoped lang="less">
h3 {
	margin: 0;
}
.url {
	color: #060;
}
.footer {
	color: #333;
}
.mdc-card__text + .mdc-card__text, .mdc-card__text:first-child {
	padding-top: 6px;
}
.mdc-card__text:last-child {
	padding-bottom: 6px;
}
.mdc-card__text {
	padding-left: 6px;
	padding-right: 6px;
}
</style>
