<template>
	<div>
		<ul id="History">
			<li
				v-for="res of history"
				:key="res.id"
			>
				<history-entry :entry="res" :size="1" />
			</li>
		</ul>
		<template v-if="isServerUrl">
			<ul>
				<li v-for="info of snapInfos"
					:key="info.hash"
				>

					<strong v-if="currentHash === info.hash">
						Snapshot created on {{ getDate(info.created) }}
					</strong>
					<a 
						:href="getUrlWithHash(info.hash)" 
						@click.prevent="navigate(getUrlWithHash(info.hash))"
						target="editor" 
						v-else
					>
						Snapshot created on {{ getDate(info.created) }}
					</a>
					<div>({{ info.changes?.length || 0 }} changes)</div>
					<template v-if="currentHash === info.hash">
						<ui-button 
							@click="startEditor" 
							type="unelevated"
							v-if="!editing"
						>
							Edit
						</ui-button>
						<ui-button 
							@click="saveEditor" 
							type="unelevated"
							v-if="editing"
						>
							Save Changes as new Snapshot
						</ui-button>
						<ui-button 
							type="outlined"
							@click="cancelEditing" 
							v-if="editing"
						>
							Cancel
						</ui-button>
					</template>
					<ui-button 
						@click="removeSnap(info.hash)" 
						type="outlined"
						v-if="!editing || currentHash !== info.hash"
					>
						Remove
					</ui-button>
				</li>
			</ul>
		</template>
			
		<template v-else-if="snapshots.length > 0">
			<h3>Snapshots</h3>
			<ul>
				<li
					v-for="snap of snapshots"
					:key="snap.uid"
				>
					<a :href="serverUrl + 'res/' + snap.hash + '?resolveLocal=latest'" >{{ snap.created }}</a>
				</li>
			</ul>
		</template>
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
// import * as Repo from '@/repository/index';
import { events } from '../service/sidebar/hub';
import { Result } from '@/types/history';
import HistoryEntry from './history-entry.vue';

function sleep(ms) {
	return new Promise(res => {
		setTimeout(res, ms);
	})
}

type Snapshot = {
	uid: number,
	hash: string,
	created: Date
}
type SnapInfo = {
	uid: number,
	hash: string,
	created: Date,
	uri: string,
	content: number,
	changes: Object[]
}
type Data = {
	working: boolean,
	initialized: Promise<void>
	snapshots: Snapshot[],
	snapInfos: SnapInfo[],
	serverUrl: string,
	editing: boolean,
	history: Result[]
}

export default defineComponent({
	name: 'InfoHere',
	components: {
		HistoryEntry
	},
	props: {
		pageUrl: {
			type: String,
			required: true
		},
		tabId: {
			type: Number,
			required: true
		}
	},
	emits: [
		'openSnapshot',
		'message'
	],
	data(): Data {
		return {
			editing: false,
			working: false,
			initialized: Promise.resolve(),
			snapshots: [],
			snapInfos: [],
			serverUrl: '',
			history: []
		}
	},
	computed: {
		isHttp() {
			return this.pageUrl && this.pageUrl.substring(0, 4) === 'http';
		},
		isServerUrl() {
			return this.pageUrl.substring(0, this.serverUrl.length) === this.serverUrl;
		},
		currentHash() {
			let url : URL = new URL(this.pageUrl);
			let hash : string = url.pathname.split('/').pop()!.split('.')[0];
			return hash.length === 40 ? hash : null;
		},
		baseUrl() {
			let url = new URL(this.pageUrl);
			url.pathname = '';
			let host = url.host.split('.');
			url.host = host.slice(host.length-2).join('.');
			return url.href;
		}
	},
	watch: {
		async pageUrl() {
			// if (this.working) await this.init();
			this.editing = false;
			await this.init();
		}
	},
	async created() {
		let res: any = await browser.storage.local.get('serverUrl');
		this.serverUrl = res.serverUrl ? res.serverUrl : 'http://localhost:3000/';
	},
	mounted() {
		this.init();
	},
	methods: {
		async init() {
			if (!this.pageUrl || !this.isHttp) return;
			// console.log('sidebar:init', this.pageUrl);
			if (this.working) {
				await this.initialized;
			}
			if (this.isServerUrl) {
				this.initialized = this.initInternalSnapshot();
			} else {
				this.initialized = this.initInternalHistory();
			}
			try {
				await this.initialized;
			} catch (e) {
				console.error(e);
			}
			// console.log('sidebar:initDone');
			this.working = false;
		},
		async initInternalSnapshot() {
			this.working = true;
			this.snapshots = [];
			this.history = [];
			let hash = this.currentHash;
			if (!hash) {
				this.snapInfos = [];
				return;
			}
			let infos: any = await events.request('background', 'snapshots.fromhash', { hash });
			this.snapInfos = infos;
			let isEditing = await browser.tabs.executeScript(this.tabId, {
				code: `typeof document._memefox_editor;`
			});
			console.log('isEditing', isEditing);
			this.editing = isEditing[0] !== 'undefined';
			this.$emit('openSnapshot');
		},
		async initInternalHistory() {
			this.working = true;
			this.snapInfos = [];
			let res: any = await events.request('background', 'history.search', { url: this.baseUrl, limit: 10 }, 1000);
			this.history = res.entries;
			res = await events.request('background', 'snapshots.forurl', { uri: this.pageUrl }, 1000);
			res = res.map(e => ({
				...e,
				created: new Date(e.created).toLocaleString()
			}));
			this.snapshots = res;
		},
		getUrlWithHash(hash: string) {
			return this.pageUrl.replace(''+this.currentHash, hash);
		},
		async startEditor() {
			if (this.editing) return;
			this.editing = true;
			if (this.pageUrl.includes('resolveLocal=')) {
				let to = this.pageUrl.replace(/\?.+$/, '');
				console.log('navigating to', to);
				await browser.tabs.update(this.tabId, {
					url: to
				});
				await sleep(300);	//wait for loaded
				console.log('navigated', this.pageUrl);
			}
			let snap = this.snapInfos.find(e => e.hash === this.currentHash);
			if (snap) {
				let changes = snap.changes;
				if (changes && changes.length) {
					await browser.tabs.executeScript(this.tabId, {
						code: `document._memefox_editor_init = ${JSON.stringify(changes)};`
					});
				}
			}
			await browser.tabs.executeScript(this.tabId, {
				file: '/editor.js'
			});
			await browser.tabs.insertCSS(this.tabId, {
				file: '/editor.css'
			});
		},
		async saveEditor() {
			this.working = true;
			let res: any = await events.request('content-script', 'editor.save', { url: this.pageUrl });
			console.log('save data', res);
			let snap: any = await events.request('background', 'snapshot.create', {
				uri: this.snapInfos[0].uri,
				mime: 'text/html',
				content: res.html,
				changes: res.changes,
				isSnapshot: true
			}, 20000);
			snap.created = new Date(snap.created);
			this.snapshots.push(snap);
			this.editing = false;
			this.working = false;

		},
		getDate(d) {
			let o = new Date(d);
			return `${o.toLocaleDateString()} ${o.toLocaleTimeString()}`;
		},
		cancelEditing() {
			events.request('content-script', 'editor.save', { url: this.pageUrl });
			this.editing = false;
		},
		async removeSnap(hash) {
			this.working = true;
			await events.request('background', 'snapshot.remove', { hash });
			this.snapInfos = this.snapInfos.filter(e => e.hash !== hash);
			this.working = false;
		},
		navigate(url: string) {
			if (this.editing) {
				browser.tabs.create({
					url
				})
			} else {
				browser.tabs.update(this.tabId, {
					url
				});
			}
		}
	}
});
</script>

<style scoped lang="less">
#History {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		margin-top: 0.2em;
	}
}
</style>
