<template>
	<div>
		<h3>Log</h3>
		<ul>
			<li v-for="entry of entries" :key="entry">
				{{ entry }}
			</li>
		</ul>
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { events } from '../service/sidebar/hub';

type Data = {
	entries: string[],
	listener?: Function
}

export default defineComponent({
	name: '',
	data(): Data {
		return {
			entries: []
		}
	},
	beforeMount() {
		this.listener = (data, evt) => {
			this.entries.unshift(`${evt}: ${data.url} - ${JSON.stringify(data).length} bytes`);
			if (this.entries.length > 5) this.entries.pop();
		};
		events.on('history.added', this.listener);
	},
	beforeUnmount() {
		events.off('history.added', this.listener);
	}
});
</script>

<style scoped lang="less">

</style>
