<template>
	<div>
		<h2>Snapshot Search</h2>
		<ui-textfield
			v-model="url"
			@blur="search"
			style="width: 100%"
		>
			URL
		</ui-textfield>
		<ui-select
			style="width: 125px"
			v-model="dateComparison"
			:options="dateComparisonOptions"
		/>
		<ui-datepicker v-model="created"
			style="width: 175px; margin-top: 10px;"
		>
			Created Date
		</ui-datepicker>

		<ul v-show="results.length > 0" id="Results">
			<li
				v-for="res of results"
				:key="res.iid"
			>
				<a :href="serverUrl + 'res/' + res.hash + '?resolveLocal=latest'" target="_blank">{{ res.uri }}</a>
				<br/>
				{{ res.created }}
			</li>
		</ul>

		<ui-pagination
			v-model="page"
			:total="total"
			show-total
			:page-size="pageSize"
			mini
		/>
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { events } from '@/service/sidebar/hub';

type Opt = {
	value: string,
	label: string
}
type Result = {
	uid: number,
	uri: string,
	created: Date
}
type Data = {
	url: string,
	created: string,
	results: Result[],
	serverUrl: '',
	page: number,
	total: number,
	pageSize: number,
	dateComparison: string,
	dateComparisonOptions: Opt[],
}

export default defineComponent({
	name: 'HistorySearch',
	components: {
	},
	data(): Data {
		return {
			url: '',
			created: '',
			results: [],
			serverUrl: '',
			page: 1,
			total: 0,
			pageSize: 10,
			dateComparison: '>',
			dateComparisonOptions: [{ value: '>', label: 'After' }, { value: '<', label: 'Before' }],
		}
	},
	watch: {
		page() {
			this.search();
		},
		dateValue() {
			this.search();
		},
		dateComparison() {
			this.search();
		},
	},
	async created() {
		let res: any = await browser.storage.local.get('serverUrl');
		this.serverUrl = res.serverUrl ? res.serverUrl : 'http://localhost:3000/';
		this.search();
	},
	methods: {
		async search() {
			const params = { 
				offset: (this.page-1)*this.pageSize,
				limit: this.pageSize
			};
			if (this.url) {
				let url = this.url.includes('://') ? this.url : `http://${this.url}`;
				params['url'] = url;
			}
			if (this.created) {
				let suffix, time;
				if (this.dateComparison === '>') {
					suffix = 'After';
					time = ' 00:00:00';
				} else {
					suffix = 'Before';
					time = ' 23:59:59';
				}
				let field = 'created' + suffix;
				params[field] = this.created+time;
			}
			let res:any = await events.request('background', 'snapshots.search', params);
			this.results = res.entries.map(e => ({
				...e,
				created: new Date(e.created).toLocaleString()
			}));
			this.total = res.count;
		}
	}
});
</script>

<style scoped lang="less">
#Results {
	> li {
		margin-top: 0.2em;
	}
}
</style>
