<template>
	<div>
		<h3>General Stats</h3>
		<ui-button @click="fetch">Refresh</ui-button>
		<ui-table :data="rows" :tbody="body" />
		<h3>Snapshot Stats</h3>
		<ui-table :data="snapshotRows"  :tbody="body" />
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { events } from '../service/sidebar/hub';
import { formatBytes } from 'bytes-formatter';

type Data = {
	visitedToday: number,
	addedToday: number,
	metaSize: number,
	total: number,
	resourceSize: number,
	resourcesByMime: Record<string, number>,
	body: string[]
}
const KEYS = ['visitedToday', 'addedToday', 'metaSize', 'total', 'resourceSize'];

export default defineComponent({
	name: 'HistoryStats',
	data(): Data {
		return {
			visitedToday: 0,
			addedToday: 0,
			metaSize: 0,
			total: 0,
			resourceSize: 0,
			resourcesByMime: {},
			body: ['label', 'value']
		}
	},

	computed: {
		rows() {
			const labels = [{
				key: 'visitedToday',
				label: 'Pages visited today'
			}, {
				key: 'visitedToday',
				label: 'New pages added today'
			}, {
				key: 'total',
				label: 'All pages seen'
			}, {
				key: 'metaSize',
				label: 'History storage size',
				formatter: formatBytes
			}, {
				key: 'resourceSize',
				label: 'Total snapshot size',
				formatter: formatBytes
			}]
			let res = labels.map(e => {
				let v = this[e.key];
				if (e.formatter) v = e.formatter(v);
				return {
					label: e.label,
					value: v
				}
			});
			return res;
		},
		snapshotRows() {
			const entries = this['resourcesByMime'];
			return Object.keys(entries).map(mime => {
				return {
					label: 'Stored '+mime,
					value: entries[mime]
				};
			});
		}
	},

	created() {
		this.fetch()
	},

	methods: {
		async fetch() {
			try {
				let stats: any = await events.request('background', 'stats.fetch', null);
				KEYS.forEach(key => {
					this[key] = stats[key];
				});
				this.resourcesByMime = stats.resourcesByMime || {};
			} catch (e) {
				let error: any = e;
				if (error.message?.includes('missing user-id')) {
					browser.runtime.openOptionsPage();
				}
				throw e;
			}
		}
	}
});
</script>

<style scoped lang="less">

</style>
